/*Basic link styling*/ 
a{
    color: black; 
}

 /*Skip to main content styling*/ 
#skip {
    background-color: lightgrey;
    padding: 10px;
    text-decoration: none; 
    display:block; 
    text-align: center;
    border-bottom: solid;
    position: absolute; 
    z-index: 999;
    left: -9999px;
    opacity: 0;
}

#skip:focus{
    left: 10%; 
    transform: translateX(-50%);
    opacity: 1; 
}

/*Icon styling and animation*/ 
.fa-solid.fa-medal{
    color: black; 
    animation-duration: 2s;
    animation-name: pos-change;
    animation-direction: alternate;

}
@keyframes pos-change{
    0% {
        translate: 150vw 0;
        scale: 200% 1;
         
      }
    100%{
        translate: 0 0;
        scale: 100% 1; 
    }
}

/*Navigation bar styling*/ 
nav {
    background-color: lightblue;
    width: 100%;
    
}
nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul {
    list-style: none;  
    display: flex;
    justify-content: flex-end;
    padding-inline-start: 0px;
    width: 100%;
}

.closebtn, #menubtn{
    display:none; 
}

h1{
    text-align: center;
    background-color: lightblue;
    position: sticky; 
    top: 0; 
    padding: 10px;
    margin-bottom: 20px;
    border-top: solid;  
    border-bottom: solid; 
}

h2{
    text-align: center;
    background-color: lightblue;
    padding: 10px;
}

img{
    border-radius: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    max-height: 75vh;
    margin-bottom: 20px; 
}

/*table styling for both tables*/ 
#athlete-table thead, #athlete-sr-table thead{
    position: sticky; 
    top: 0; 
    background-color: lightblue; 
    padding: 10px; 
}
#athlete-sr-table table tbody tr td, .result-row td{
    padding: 1vw;
    margin-left: 20px;
    margin-right: 10vw; 
}
 table{
    width: 100%; 
}

#athlete-sr-table{
    margin-bottom: 70px;
}
/*makes sure alternating row has different colors*/ 
#athlete-table tr:nth-child(even),#athlete-sr-table tr:nth-child(even)  {
    background-color: lightgray;
}
/*highlights entire row when something it selected*/ 
#athlete-table tr:hover, #athlete-sr-table tr:hover, 
#athlete-table tr:nth-child(even):hover,
#athlete-sr-table tr:nth-child(even):hover, 
a:hover, #skip:hover{
    background-color: lightgreen; 
    font-size: larger;
}

/*footer styling*/ 
footer{
    background-color: lightblue; 
    align-content: center;
    padding-top: 20px; 
    padding-bottom: 2em; 
    
}

footer p, address, footer a{
    margin-left: 20px; 
}

/*Dark mode styling: inverts all color*/
@media(prefers-color-scheme:dark){
    /*inverts all colors*/
    body{
        background-color: 	#212121; 
        color: white;
    }

    h1, h2, nav, footer{
        background-color: black;
        color: white; 
        
    }

    #athlete-table tr:nth-child(even),#athlete-sr-table tr:nth-child(even)  {
        background-color: #1e1414;
    }

    a{
        color: white; 
        text-decoration: none;
    }

    #skip{
        background-color: darkblue;
    }

    #athlete-table thead, #athlete-sr-table thead{
        background-color: black;
    }

    .fa-solid.fa-medal{
        color: white; 
    }

    #athlete-table tr:hover, #athlete-sr-table tr:hover, 
    #athlete-table tr:nth-child(even):hover,
    #athlete-sr-table tr:nth-child(even):hover, a:hover, #skip:hover{
    background-color: rgb(85, 30, 109); 
    font-size: larger;
    }

}

/*Reduced motion styling*/ 
@media (prefers-reduced-motion: reduce){
    

    #athlete-table tr:hover, #athlete-sr-table tr:hover, 
    #athlete-table tr:nth-child(even):hover,
    #athlete-sr-table tr:nth-child(even):hover, a:hover, #skip:hover{
        font-size: medium !important; 
    }

    #skip{
        transition: none !important; 
    }

    .fa-solid.fa-medal{
        animation: none !important; 
    }

}
/*tablet mode*/ 
@media (min-width: 700px){
    img{
        border-radius: 10px;
    }
     
    .closebtn{
        display: block; 
        position: absolute;
        top: 0;
        right: 25px;
        margin-left: 50px;
        text-decoration: none;
    }
    
    nav{
        height: 100%;
        width: 20vw;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 20px;
        border-right: solid;
    }
    
    nav ul {  
        display: block;
    }

    nav li{
        padding: 8px 8px 8px 32px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    main, header, footer{
        transition: margin-left .5s;
        margin-left: 20vw; 
        width: 78vw; 
    }

    #menubtn{
        text-align: center;
        padding-bottom: 10px; 
        padding-top: 10px; 
        font-size: 20px;
        background-color: lightblue;
    }

    #menubtn:hover{
        background-color: lightgreen;
    }

    footer{
        display: grid;  
        grid-template-columns: 10;
        grid-row: 4;
    }
    footer address{
        grid-column: 3/7; 
        grid-row: 1/4;  
        
    }
    footer a[href = "https://sites.google.com/aaps.k12.mi.us/skylinecrosscountry2021/home"]{
        grid-column: 7/10;
        grid-row: 1;  
    }
    footer a[href = "https://www.instagram.com/a2skylinexc/"]{
        grid-column: 7/10;
        grid-row: 2;  
    }
    
}

/*for desktop mode*/
@media screen and (min-width: 1000px){
    /*cannot remove side nav*/ 
    #menubtn, .closebtn{
        display: none;
    }
}